:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #0a0a0a;
  color: rgba(255, 255, 255, 0.87);
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Crucial for full screen */
  overflow: hidden; /* Prevent window scrollbars */
}

#root {
  display: flex;
  flex-direction: column;
}

/* Custom Scrollbar for inside panels */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #121212; 
}
::-webkit-scrollbar-thumb {
  background: #444; 
  border-radius: 3px;
}
